:root {
    font-size: 10px;
    --textColor: black;
    --backgroundColor: #e0ebeb;
    --headerColor: #24527a;
    --navColor: #5dacbd;
    --contentColor1: #a7bcb9;
}

/*      ELEMENT SELECTORS       */
html {    
    font-family:Arial, Helvetica, sans-serif;
    color: var(--textColor);
    background-color: var(--backgroundColor);
}

body {
    min-width: 90rem;
}

header {
    height: 10rem;
    width: 100%;
    margin-bottom: 0;
    display: inline-flex;
    background-color: var(--headerColor);
}

footer {
    height: 7rem;
    width: 100%;
    clear: both;
    text-align: center;
    font-size: 1.5rem;
}



/*      ID SELECTORS       */
/* HEADER */
#logo {
    height: 100%;
    width: 20%;
}

#title {
    height: 100%;
    width: 60%;
    overflow: hidden;
}

#title p {
    margin: 0;
    line-height: 10rem;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
}

#login {
    height: 100%;
    width: 20%;
}

/* TOP NAVIGATION */
#topNav {
    height: 7rem;
    width: 100%;
    background-color: var(--navColor);
}

#topNavLinks {
    height: 100%;
    width: 100%;
    display: inline-flex;
    font-size: 1.4rem;
}

/* CONTENT */
#left {
    height: 50rem;
    width: 50%;
    float: left;
    text-align: center;
    font-size: 1.6rem;
    border: none;
    background-color: var(--contentColor1);
}


#right {
    height: 50rem;
    width: 50%;
    float: right;
    font-size: 1.6rem;
    border: none;
    background-color: var(--contentColor1);
}



/*      CLASSES     */
.divider {
    height: 1rem;
    width: 100%;
    margin: 0;
    clear: both;
    border: none;
    background-color: var(--backgroundColor);
}

.navLink:link, .navLink:visited {
    margin: auto;
    padding: 1rem;
    text-decoration: none;
    color: var(--backgroundColor);
    border: 0.2rem solid black;
    border-radius: 0.5rem;
}

.navLink:hover, .navLink:active {
    transform: scale(1.2);
    transition-duration: 1s;
    background-color: var(--headerColor);
}

.headerLink:link, .headerLink:visited, .headerLink:hover, .headerLink:active {
    text-decoration: none;
    color: var(--backgroundColor);
}
