:root {
    --backgroundColor: black;
}

/*      ELEMENT SELECTORS       */
html {    
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--backgroundColor);
}

body {
    min-width: 90rem;
}

header {
    height: 10rem;
    width: 100%;
    margin-bottom: 0;
    display: inline-flex;
}

footer {
    height: 7rem;
    width: 100%;
    clear: both;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--backgroundColor);
}



/*      ID SELECTORS       */
/* HEADER */
#logo {
    height: 100%;
    width: 20%;
    background-color: teal;
}

#title {
    height: 100%;
    width: 60%;
    overflow: hidden;
    background-color: lightblue;
}

#title p {
    margin: 0;
    line-height: 10rem;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: var(--backgroundColor);
}

#login {
    height: 100%;
    width: 20%;
    background-color: lightgreen;
}

/* TOP NAVIGATION */
#topNav {
    height: 7rem;
    width: 100%;
    background-color: lightgreen;
}

#topNavLinks {
    height: 100%;
    width: 100%;
    display: inline-flex;
    font-size: 1.4rem;
}

/* CONTENT */
#left {
    height: 50rem;
    width: 50%;
    float: left;
    text-align: center;
    border: none;
    background-color: lightskyblue;
}

#inputInst {
    font-size: 1.6rem;
}

#right {
    height: 50rem;
    width: 50%;
    float: right;
    border: none;
    background-color: lightblue;
}



/*      CLASSES     */
.divider {
    height: 1rem;
    width: 100%;
    margin: 0;
    clear: both;
    border: none;
    background-color: var(--backgroundColor);
}

.navLink:link, .navLink:visited {
    margin: auto;
    padding: 1rem;
    text-decoration: none;
    color: var(--backgroundColor);
    border: 0.2rem solid black;
}

.navLink:hover, .navLink:active {
    transform: scale(1.2);
    transition-duration: 1s;
    color: black;
    background-color: green;
}

.headerLink {
    text-decoration: none;
}
