<!--        Extends the base template       -->
{% extends "sylAnalyzer/base.html" %}


{% block content %}
        <!--        Left Panel      -->
        <div id="left">
            <p id="inputInst">To begin, please input a syllabus below:</p>
          
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input id="file" name="uploadedFile" type="file" accepted=".PDF, .doc">
                <br/>
                <br/>
                <button type="submit">Submit</button>
            </form>
        </div>

        <!--        Right Panel     -->
        <div id="right"></div>
        <div id="divider3" class="divider"></div>
{% endblock %}