<!--
    List of available blocks when extending the base template:
    tabTitle
    stylesheet
    javascript
    pageTitle
    content
    footerText
-->

<!--        Call to load files      -->
{%load static%}


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block tabTitle%}
                Syllabus Analyzer
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="keywords" content="syllabus, university, course, schedule, natural language processing">
        <meta name="author" content="Michael Gagliardi">
        <link rel="stylesheet" href="{% block stylsheet %}{% static 'sylanalyzer\\homepage.css'%}{% endblock %}">
        <script type="text/javascript" src="{% block javascript %}{% static 'sylanalyzer\\homepage.js'%} {% endblock %}"></script>
    </head>

    <body>
        <!--        Header      -->
        <header>
            <div id="logo">
                <a class="headerLink" href="{% url 'sylAnalyzer:homepage' %}">
                    Logo Here!
                </a>
            </div>
            <div id="title">
                <a class="headerLink" href="{% url 'sylAnalyzer:homepage' %}">
                    <p id="titleText">
                        {% block pageTitle %}Syllabus Analyzer{% endblock %}
                    </p>
                </a>
            </div>
            <div id="login">Login Here?</div>
        </header>
        <div id="divider1" class="divider"></div>

        <!--        Top Navigation      -->
        <div id="topNav">
            <div id="topNavLinks">
                <a class="navLink" href="{% url 'sylAnalyzer:results' %}">Components of a Good Syllabus?</a>
                <a class="navLink" href="{% url 'sylAnalyzer:examples' %}">Examples</a>
                <a class="navLink" href="{% url 'sylAnalyzer:explanation' %}">What does this site do?</a>
            </div>
        </div>
        <div id="divider2" class="divider"></div>

        {% block content %}
        {% endblock %}
        {% block alerts %}
        {% endblock %}

        <!--        Footer      -->
        <footer>
            <p id="footerText">
                {% block footerText %}Indiana University Syllabus Analyzer &copy; 2023{% endblock %}
            </p>
        </footer>
    </body>
</html>