<!--        Call to load files      -->
{%load static%}

<!--        HTML Template       -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Syllabus Analyzer</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="syllabus, university, course, schedule, natural language processing">
        <meta name="author" content="Michael Gagliardi">
        <link rel="stylesheet" href="{% static 'Sylanalyzer/homepage.css'%}">
        <script type="text/javascript" src="{% static 'sylAnalyzer/homepage.js'%}"></script>
    </head>

    <body>
        <!--        Header      -->
        <header>
            <div id="logo">Logo Here!</div>
            <div id="title"><p id="titleText">Syllabus Analyzer</p></div>
            <div id="login">Login Here?></div>
        </header>
        <div id="divider1" class="divider"></div>
