<!--        Call to load files      -->
{%load static%}

<!--        HTML Template       -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Syllabus Analyzer</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="syllabus, university, course, schedule, natural language processing">
        <meta name="author" content="Michael Gagliardi">
        <link rel="stylesheet" href="{% static 'sylAnalyzer\\homepage.css'%}">
        <script type="text/javascript" src="{% static 'Sylanalyzer\\homepage.js'%}"></script>
    </head>

    <body>
        <!--        Header      -->
        <header>
            <div id="logo">
                <a class="headerLink" href="{% url 'sylAnalyzer:homepage' %}">
                    Logo Here!
                </a>
            </div>
            <div id="title">
                <a class="headerLink" href="{% url 'sylAnalyzer:homepage' %}">
                    <p id="titleText">Syllabus Analyzer</p>
                </a>
            </div>
            <div id="login">Login Here?></div>
        </header>
        <div id="divider1" class="divider"></div>

        <!--        Top Navigation      -->
        <div id="topNav">
            <div id="topNavLinks">
                <a class="navLink" href="{% url 'sylAnalyzer:details' %}">Components of a Good Syllabus?</a>
                <a class="navLink" href="{% url 'sylAnalyzer:examples' %}">Examples</a>
                <a class="navLink" href="{% url 'sylAnalyzer:explanation' %}">What does this site do?</a>
            </div>
        </div>
        <div id="divider2" class="divider"></div>

        <!--        Left Panel      -->
        <div id="left">
            <p id="inputInst">To begin, please input a syllabus below:</p>
            <input id="file" type="file" accepted=".PDF, .doc" onchange="test();">
        </div>

        <!--        Right Panel     -->
        <div id="right"></div>
        <div id="divider3" class="divider"></div>

        <!--        Footer      -->
        <footer>
            <p id="footerText">Indiana University Syllabus Analyzer &copy; 2023</p>
        </footer>
    </body>
</html>